<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<%
    function progressCalc(list){
        var completedCount = 0;
        for(var i = 0; i < list.length; i++){
            if(list[i].completed){
                completedCount++;
            }
        }
        var percent = (completedCount / list.length);
        return percent; 
    }

    function sortTasks(tasks){
        const submitGroup = ["work", "day"];
        const tasksArray = [];

        //Initializing sorted array
        for(var i = 0; i < submitGroup.length; i++){
            for(var j = 0; j < tasks[submitGroup[i]].length; j++){
                if(tasks[submitGroup[i]][j].time != null){
                    tasksArray.push(tasks[submitGroup[i]][j]);
                }
            }
        }

        console.log("Array of tasks is "+tasksArray)
        //Calculating the sorted Array
        const sortedTasks = taskSort(tasksArray);
        return sortedTasks;
    
    }

    function taskSort(tasks) {
        let swapped;
        do {
            swapped = false;
            for (let i = 0; i < tasks.length - 1; i++) {
            if (tasks[i].time > tasks[i + 1].time) {
                let temp = tasks[i];
                tasks[i] = tasks[i + 1];
                tasks[i + 1] = temp;
                swapped = true;
            }
            }
        } while (swapped);
        return tasks;
    }
%>
<body>
    <div id="page">
        <%- include("partials/sideBar.ejs") %>
        
        <div id="dashboard">
            
            <div id="schedule" class="dashboard-box">
                <h2>Today's schedule</h2>
                <div class="add-today">
                    <form action="/submit" method="POST">
                        <input type="text" class="addTask add-today-task" name="taskName" placeholder="To Do Task">
                        <input type="text" class="addTask add-time time-pickable" name="taskTime" placeholder="-- : --" readonly>
                        <select required class="addTask add-duration" name="taskDuration">
                            <option value="" selected disabled hidden>Duration</option>
                            <option value="15">15 min</option>
                            <option value="30">30 min</option>
                            <option value="45">45 min</option>
                            <option value="60">60 min</option>
                        </select>
                        <select required class="addTask add-type" name="submitGroup">
                            <option value="" selected disabled hidden>Type</option>
                            <option value="work">Work</option>
                            <option value="day">Day</option>
                        </select>
                        <input type="submit" class="addBtn add-btntoday" value="+">
                    </form>
                </div>
                <% if (locals.tasks){
                    const sortedTasks = sortTasks(tasks);
                    console.log(sortedTasks); %>
                    <div class="schedule-plan">
                        <section class="slider-wrapper">
                            <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
                            <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
                            <ul class="slides-container" id="slides-container">
                                <li class="slide">
                                    <div class="schedule-timeholder">
                                        <div class="schedule-time">00:00 AM</div> 
                                        <div class="schedule-time">03:00 AM</div> 
                                        <div class="schedule-time">06:00 AM</div>
                                    </div>
                                    <div class="schedule-line"><hr></div>
                                    <div id="schedule-taskholder">    
                                            <% for(var i = 0; i < sortedTasks.length; i++){
                                                if(sortedTasks[i].time > "00:00" && sortedTasks[i].time < "06:00"){ %>
                                                    <div class="task-schedule"><%=sortedTasks[i].activity%></div>
                                                <% } 
                                                }
                                             %>
                                    </div> 
                                </li>
                                <li class="slide">
                                    <div class="schedule-timeholder">
                                        <div class="schedule-time">06:00 AM</div> 
                                        <div class="schedule-time">09:00 AM</div> 
                                        <div class="schedule-time">12:00 PM</div>    
                                    </div>
                                    <div class="schedule-line"><hr></div>
                                    <div id="schedule-taskholder">    
                                            <% for(var i = 0; i < sortedTasks.length; i++){
                                                if(sortedTasks[i].time > "06:00" && sortedTasks[i].time < "12:00"){ %>
                                                    <div class="task-schedule"><%=sortedTasks[i].activity%></div>
                                                <% } 
                                                }
                                             %>
                                    </div>     
                                </li>
                                <li class="slide">
                                    <div class="schedule-timeholder">
                                        <div class="schedule-time">12:00 PM</div> 
                                        <div class="schedule-time">03:00 PM</div> 
                                        <div class="schedule-time">06:00 PM</div>            
                                    </div>
                                    <div class="schedule-line"><hr></div>
                                    <div id="schedule-taskholder">    
                                            <% for(var i = 0; i < sortedTasks.length; i++){
                                                if(sortedTasks[i].time > "12:00" && sortedTasks[i].time < "18:00"){ %>
                                                    <div class="task-schedule"><%=sortedTasks[i].activity%></div>
                                                <% } 
                                                }
                                             %>
                                    </div>     
                                </li>
                                <li class="slide">
                                    <div class="schedule-timeholder">
                                        <div class="schedule-time">06:00 PM</div> 
                                        <div class="schedule-time">09:00 PM</div> 
                                        <div class="schedule-time">00:00 AM</div>    
                                    </div>
                                    <div class="schedule-line"><hr></div>
                                    <div id="schedule-taskholder">    
                                            <% for(var i = 0; i < sortedTasks.length; i++){
                                                if(sortedTasks[i].time > "18:00" && sortedTasks[i].time < "24:00"){ %>
                                                    <div class="task-schedule"><%=sortedTasks[i].activity%></div>
                                                <% } 
                                                }
                                            } %>
                                    </div>        
                                </li>
                            </ul>
                        </section>

                        
                        
                        

                    </div>
                
            </div>  


            <div id="workList" class="list dashboard-box">
                <h2>Work Tasks</h2>
                <form action="/submit" method="POST">
                    <input type="hidden" name="submitGroup" value="work">
                    <input type="text" class="addTask" name="taskName" placeholder="Add Work Task">
                    <input type="submit" class="addBtn" value="+">
                </form>
                
                <ul class="list">
                    <% if (locals.tasks["work"] && tasks["work"].length != 0) { %>
                        <form action="/checkActivity" method="POST">
                            <input type="hidden" name="submitGroup" value="work">
                            <% for (var i = 0; i < tasks["work"].length; i++) { %>
                                <% if (!tasks["work"][i].completed) { %> 
                                    <div class="checkbox-wrapper work-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=tasks["work"][i].activity%>">
                                            <span class="checkbox-item"><%=tasks["work"][i].activity%></span>
                                        </label>
                                    </div>   
                                <% } %>
                            <% } %>
                            <% for (var i = tasks["work"].length - 1; i >= 0; i--) { %>
                                <% if (tasks["work"][i].completed) { %> 
                                    <div class="checkbox-wrapper work-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=tasks["work"][i].activity%>" checked>
                                            <span class="checkbox-item"><%=tasks["work"][i].activity%></span>
                                        </label>
                                    </div>
                                <% } %>   
                            <% } %>

                            <input type="submit" class="submit-btn" value="Submit Activities">
                        </form>

                    <%} else { %>
                        <div class="nothingBox">Currently Nothing</div>
                    <% } %>
                </ul>
            </div>
            
            <div id="progressRing">
                <svg width="250" height="250" viewBox="0 0 250 250">
                    <circle class="bg"
                        cx="125" cy="125" r="115" fill="none" stroke="#ddd" stroke-width="20"
                    ></circle>
                    <circle class="fg"
                        cx="125" cy="125" r="115" fill="none" stroke="#5394fd" stroke-width="20"
                        <% if (tasks["work"] && tasks["work"].length != 0) { %> 
                            stroke-dasharray="<%-progressCalc(tasks["work"]) * 2 * Math.PI * 115%> 
                            <%-2 * Math.PI * 115 - progressCalc(tasks["work"]) * 2 * Math.PI * 115%>"        
                        <%} else { %>
                            stroke-dasharray = "0 722.5"
                        <% } %>
                    ></circle>
                    <circle class="butt-stroke"></circle>

                    <circle class="bg"
                    cx="125" cy="125" r="95" fill="none" stroke="#ddd" stroke-width="20"
                    ></circle>
                    <circle class="fg"
                    cx="125" cy="125" r="95" fill="none" stroke="#8be78b" stroke-width="20"
                    <% if (locals.tasks["day"] && tasks["day"].length != 0) { %> 
                        stroke-dasharray="<%-progressCalc(tasks["day"]) * 2 * Math.PI * 95%> 
                        <%-2 * Math.PI * 95 - progressCalc(tasks["day"]) * 2 * Math.PI * 95%>"        
                    <%} else { %>
                        stroke-dasharray = "0 596.9"
                    <% } %>
                    ></circle>
                </svg>
            </div>

            <div id="dayList" class="list dashboard-box">
                <h2>Day Tasks</h2>
                <form action="/submit" method="POST">
                    <input type="hidden" name="submitGroup" value="day">
                    <input type="text" class="addTask" name="taskName" placeholder="Add Day Task">
                    <input type="submit" class="addBtn" value="+">
                </form>

                <ul class="list checkbox-list">
                    <% if (locals.tasks["day"] && tasks["day"].length != 0) { %>
                        <form action="/checkActivity" method="POST">
                            <input type="hidden" name="submitGroup" value="day">
                            <% for (var i = 0; i < tasks["day"].length; i++) { %>
                                <% if (!tasks["day"][i].completed) { %> 
                                    <div class="checkbox-wrapper day-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=tasks["day"][i].activity%>">
                                            <span class="checkbox-item"><%=tasks["day"][i].activity%></span>
                                        </label>
                                    </div>   
                                <% } %>
                            <% } %>
                            <% for (var i = tasks["day"].length - 1; i >= 0; i--) { %>
                                <% if (tasks["day"][i].completed) { %> 
                                    <div class="checkbox-wrapper day-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=tasks["day"][i].activity%>" checked>
                                            <span class="checkbox-item"><%=tasks["day"][i].activity%></span>
                                        </label>
                                    </div>
                                <% } %>   
                            <% } %>
                            <input type="submit" class="submit-btn" value="Submit Activities">
                        </form>
                    <%} else { %>
                        <div class="nothingBox">Currently Nothing</div>
                    <% } %>
                </ul>
            </div>


        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>