<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<%
    function progressCalc(list){
    var completedCount = 0;
    for(var i = 0; i < list.length; i++){
        if(list[i].completed){
            completedCount++;
        }
    }
    var percent = (completedCount / list.length);
    return percent; 
}
%>
<body>
    <div id="page">
        <%- include("partials/sideBar.ejs") %>
        
        <div id="dashboard">
            
            <div id="schedule" class="dashboard-box">
                <h2>Today's schedule</h2>
                <div class="add-today">
                    <form action="/submit" method="POST">
                        <input type="text" class="addTask add-today-task" name="taskName" placeholder="To Do Task">
                        <input type="time" class="addTask add-today-task add-time" name="taskTime">
                        <select required class="addTask add-type" name="submitGroup">
                            <option value="" selected disabled hidden>Type</option>
                            <option value="work">Work</option>
                            <option value="day">Day</option>
                        </select>
                        <input type="submit" class="addBtn" value="+">
                    </form>
                </div>
                <div id="schedule-time">
                    <div>6:00 PM</div> 
                    <div>9:00 PM</div> 
                    <div>12:00 PM</div>
                </div>
                <hr>

            </div>

            <div id="workList" class="list dashboard-box">
                <h2>Work Tasks</h2>
                <form action="/submit" method="POST">
                    <input type="hidden" name="submitGroup" value="work">
                    <input type="text" class="addTask" name="taskName" placeholder="Add Work Task">
                    <input type="submit" class="addBtn" value="+">
                </form>
                
                <ul class="list">
                    <% if (locals.work && work.length != 0) { %>
                        <form action="/checkActivity" method="POST">
                            <input type="hidden" name="submitGroup" value="work">
                            <% for (var i = 0; i < work.length; i++) { %>
                                <% if (!work[i].completed) { %> 
                                    <div class="checkbox-wrapper work-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=work[i].activity%>">
                                            <span class="checkbox-item"><%=work[i].activity%></span>
                                        </label>
                                    </div>   
                                <% } %>
                            <% } %>
                            <% for (var i = work.length - 1; i >= 0; i--) { %>
                                <% if (work[i].completed) { %> 
                                    <div class="checkbox-wrapper work-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=work[i].activity%>" checked>
                                            <span class="checkbox-item"><%=work[i].activity%></span>
                                        </label>
                                    </div>
                                <% } %>   
                            <% } %>

                            <input type="submit" class="submit-btn" value="Submit Activities">
                        </form>

                    <%} else { %>
                        <div class="nothingBox">Currently Nothing</div>
                    <% } %>
                </ul>
            </div>
            
            <div id="progressRing">
                <svg width="250" height="250" viewBox="0 0 250 250">
                    <circle class="bg"
                        cx="125" cy="125" r="115" fill="none" stroke="#ddd" stroke-width="20"
                    ></circle>
                    <circle class="fg"
                        cx="125" cy="125" r="115" fill="none" stroke="#5394fd" stroke-width="20"
                        <% if (locals.work && work.length != 0) { %> 
                            stroke-dasharray="<%-progressCalc(work) * 2 * Math.PI * 115%> 
                            <%-2 * Math.PI * 115 - progressCalc(work) * 2 * Math.PI * 115%>"        
                        <%} else { %>
                            stroke-dasharray = "0 722.5"
                        <% } %>
                    ></circle>
                    <circle class="butt-stroke"></circle>

                    <circle class="bg"
                    cx="125" cy="125" r="95" fill="none" stroke="#ddd" stroke-width="20"
                    ></circle>
                    <circle class="fg"
                    cx="125" cy="125" r="95" fill="none" stroke="#8be78b" stroke-width="20"
                    <% if (locals.day && day.length != 0) { %> 
                        stroke-dasharray="<%-progressCalc(day) * 2 * Math.PI * 95%> 
                        <%-2 * Math.PI * 95 - progressCalc(day) * 2 * Math.PI * 95%>"        
                    <%} else { %>
                        stroke-dasharray = "0 596.9"
                    <% } %>
                    ></circle>
                </svg>
            </div>

            <div id="dayList" class="list dashboard-box">
                <h2>Day Tasks</h2>
                <form action="/submit" method="POST">
                    <input type="hidden" name="submitGroup" value="day">
                    <input type="text" class="addTask" name="taskName" placeholder="Add Day Task">
                    <input type="submit" class="addBtn" value="+">
                </form>

                <ul class="list checkbox-list">
                    <% if (locals.day && day.length != 0) { %>
                        <form action="/checkActivity" method="POST">
                            <input type="hidden" name="submitGroup" value="day">
                            <% for (var i = 0; i < day.length; i++) { %>
                                <% if (!day[i].completed) { %> 
                                    <div class="checkbox-wrapper day-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=day[i].activity%>">
                                            <span class="checkbox-item"><%=day[i].activity%></span>
                                        </label>
                                    </div>   
                                <% } %>
                            <% } %>
                            <% for (var i = day.length - 1; i >= 0; i--) { %>
                                <% if (day[i].completed) { %> 
                                    <div class="checkbox-wrapper day-checkbox">
                                        <label>
                                            <input type="checkbox" name="<%=day[i].activity%>" checked>
                                            <span class="checkbox-item"><%=day[i].activity%></span>
                                        </label>
                                    </div>
                                <% } %>   
                            <% } %>
                            <input type="submit" class="submit-btn" value="Submit Activities">
                        </form>
                    <%} else { %>
                        <div class="nothingBox">Currently Nothing</div>
                    <% } %>
                </ul>
            </div>


        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>